<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="headerFragment">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="search-area" id="searchNav">
            <div class="search-area-inner d-flex align-items-center justify-content-center">
                <div class="close-btn"><i class="icon-close"></i></div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <form method="post" id="search" action="#">
                            <div class="form-group">
                                <input type="search" name="KEYWORD" id="KEYWORD" placeholder="Search by keyword. (e.g., Sylhet, Bandarban etc.)">
                                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <!-- Navbar Brand --><a id="titleHome" class="navbar-brand">Traveler's Diary</a>
                <!-- Toggle Button-->
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a id="home" href="#" class="nav-link active ">Home</a>
                    </li>
                    <li class="nav-item"><a id="blog" href="#" class="nav-link ">Explore Blogs</a>
                    </li>
                    <li class="nav-item"><a id="create" href="#" class="nav-link ">Create Blog</a>
                    </li>
                    <li class="nav-item"><a id="logout" href="#" class="nav-link ">Logout</a>
                    </li>
<!--                    <li class="nav-item" style="padding-top: 5px;">-->
<!--                        <form method="post" id="search" action="#">-->
<!--                            <div class="form-group">-->
<!--                                <input style="border-width: 1px;" type="search" name="KEYWORD" id="KEYWORD" placeholder="Search by keyword">-->
<!--                                <button style="border-width: 1px;" type="submit" class="submit"><i class="icon-search-1"></i></button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </li>-->
                </ul>
                <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            </div>
        </div>
    </nav>
</header>
<body>

</body>
</html>